* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100vh;
    
    background: linear-gradient(#ffdbfa, #d4f3ff);
    background-attachment: fixed;

    /*  grid background  */
    /*background: #fff1e8;*/
    /*background-image: linear-gradient(#ffffff .1em, transparent .1em), linear-gradient(90deg, #ffffff .1em, transparent .1em);
    background-size: 2em 2em;*/
  }
  
main {
    background-color: #ffffff;
    color: #3a3a3a;
    font-size: 1em;
    line-height: 1.4;
    margin: 5%;
    max-width: 800px;
    border: 1px solid;
    padding: 2%;
    box-shadow: 10px 10px;
}

a {
    color: #454545;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    border-bottom: 1px solid #454545;
    padding-bottom: .01em;
}

a:hover {
    border-color: rgba(0,212,255,1);
}

nav a {
    border-bottom: none;
    color: #c95a34;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    text-decoration: none
}

nav a:hover {
    border-bottom: 1px solid #454545;
    box-shadow: inset 0 -5px 0 #454545;
    overflow-wrap: break-word;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-style: italic;
}

h2, h3 {
    font-family: 'Playfair Display', serif;
    /*line-height:1.2;*/
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    height: 60px;   /* Height of the footer */
    font-size: 14px;
}

/*     Navigation     */
nav {
    height: 40px;
    top: 0;
    width: 100%;
}

nav h1 {
    display: inline-block;
}

nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
    text-decoration: none;
}

/*     Articles     */

#article-toggle {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 100px;
}

#previous-article {
    float: left;
}

#next-article {
    float: right;
}

#blog-list ul {
    list-style-type: none;
    padding-left: 0px;
}

#blog-list ul li {
    padding-bottom: 20px;
}

#article-toggle {
    position: relative;
}

#blog-list {
    margin-top: 10%;
}

.blog-post {
    margin-top: 10%
}

time {
    color: #8e8e8e;
    font-size: 14px;
}