<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Data Vagabond</title>
        <link rel="stylesheet" href="/css/normalize.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Space+Mono&display=swap" rel="stylesheet">

        <meta name="description" content="Laura Lai specializes in data science and analytics at Slate Magazine.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
<body>