{{ partial "head.html" . }}

{{ partial "nav.html" . }}

<main>
<section>
    <!-- this section is populated from content/_index.md -->
    <div id="banner">
        <h1>👋🏼 Hi! I'm Laura. I currently do data science and analytics at <a href="https://slate.com/" target="_blank">Slate</a>.</h1>
        <h1>💻 View my code on <a href="https://github.com/laurlai" target="_blank">GitHub</a> and work experience on <a href="https://www.linkedin.com/in/lauralai1" target="_blank">LinkedIn</a>.</h1>
    </div>
</section>

</main>

