{{ partial "head.html" . }}

<main>
    <h1>Laura Lai ✨</h1>
    <p>👩🏻‍💻 analytics engineer at <a href="https://slate.com/" target="_blank">slate.com</a></p>
    <ul>
        <li>code on <a href="https://github.com/laurlai" target="_blank">GitHub</a></li>
        <li>work experience on <a href="https://www.linkedin.com/in/lauralai1" target="_blank">LinkedIn</a>.</li>
    </ul>
    <h2>about me </h2>
    <p>At Slate, I maintain our data pipeline and analyze article content performance, audience segmentation, and revenue optimization. Before, I studied Physics at George Washington University culminating in a nuclear physics thesis. I spent two summers exploring particle physics before becoming a Technology Consultant at Deloitte. I specialized in data analytics services for national security and defense. At GXM Consulting, I developed data analysis frameworks for a defense agency and managed a rapid prototyping software project. </p>
    <h2>fun stuff</h2>
    <ul>
        <li>📍 I'm currently on a trip around the world and have been in New Zealand since March 2020 🇳🇿</li>
        <li>🐈 I love cats (especially my cat, Atlas)</li>
        <li>🛠 I'm handy with DIY projects</li>
        <li>🛹 I'm learning to skateboard</li> 
    </ul>
</main>


